{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb/base"
  ],
  "rules": {
    "no-plusplus": "off",
    "linebreak-style": "off",
    "import/prefer-default-export": "off",
    "no-class-assign": "off",
    "no-shadow": "off",
    "max-len": [
      "error",
      300
    ],
    "no-restricted-globals": "off",
    "no-param-reassign": "off",
    "no-return-assign": "off",
    "no-func-assign": "off",
    "consistent-return": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-nested-ternary": "off",
    "camelcase": "off",
    "import/no-unresolved": "off",
    "no-use-before-define": "off",
    "indent": [
      "error",
      4
    ],
    "eqeqeq": "off"
  }
}